<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <title>URL - TinyApp Example</title>
</head>

<%- include('partials/_header') %>

<body>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <% if (!user) { %>
          <div class="alert alert-warning" role="alert">
            <h5>Access to the individual URL pages is limited to authenticated users only. </br>Please <a href="/login" class="alert-link">login</a> or <a href="/register" class="alert-link">register</a> to view your collection of URLs.</h5>
        </div>
        <% } else if (user.id !== urlUserID) { %>
          <div class="alert alert-warning" role="alert">
            <h5 class="text-muted">Access to individual URL pages is restricted to their respective owners.</h5>
          </div>
        <% } else { %>
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">Short URL ID: <a href="/u/<%= id %>" target="_blank"><%= id %></a>
        </p>
        <div class="row">
          <div class="mx-auto">
            <form class="form-inline" action="/urls/<%= id %>" method="POST">
              <div class="form-group mb-2">
                <label for="updatedURL">Update Long URL:</label>
                <input class="form-control" type="text" name="updatedURL" placeholder="<%= longURL %>"
                  style="width: 300px; margin: 1em" />
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
    <% } %>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  </body>

</html>